// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 2px solid black;
}

th {
  background: #D3D3D3;
}

.loser {
  background: #CD5555;
}