<table style="width:80%" role='grid'>
  <thead>
  <tr>
    <th>Adam</th>
    <th>Jon</th>
    <th>XP</th>
    <th>Greg</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td class='loser'>Bananas (w/ Vince)<strong>RD8</strong></td>
    <td>Cara-Maria (w/Jamie)</td>
    <td>Cory (w/ Mitch)</td>
    <td class='loser'>KellyAnne (w/ Anthony)<strong>RD7</strong></td>
  </tr>

  <tr>
    <td class='loser'>Tony (w/ Shane)<strong>RD4</strong></td>
    <td class='loser'>Thomas (w/Stephen)<strong>RD6</strong></td>
    <td class='loser'>Cohutta (w/ Jill) <strong>RD2</strong></td>
    <td class='loser'>Dario (w/ Raphy)<strong>RD4</strong></td>
  </tr>

  <tr>
    <td class='loser'>Nany (w/ Nicole)<strong>RD5</strong></td>
    <td>Jenna (w/Brianna)</td>
    <td class='loser'>Leroy (w/ Candis)<strong>RD3</strong></td>
    <td>Aneesa (w/ Rihanna)</td>
  </tr>
</table>
</tbody>
<p>10:40</p>