<table style="width:80%" role='grid'>
  <thead>
  <tr>
    <th>Adam</th>
    <th>Jon</th>
    <th>XP</th>
    <th>Greg</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Bananas (w/ Vince)</td>
    <td>Cara-Maria (w/Jamie)</td>
    <td>Cory (w/ Mitch)</td>
    <td>KellyAnne (w/ Anthony)</td>
  </tr>

  <tr>
    <td class='loser'>Tony (w/ Shane)<strong>RD4</strong></td>
    <td>Thomas (w/Stephen)</td>
    <td class='loser'>Cohutta (w/ Jill) <strong>RD2</strong></td>
    <td>Dario (w/ Raphy)</td>
  </tr>

  <tr>
    <td>Nany (w/ Nicole)</td>
    <td>Jenna (w/Brianna)</td>
    <td class='loser'>Leroy (w/ Candis)<strong>RD3</strong></td>
    <td>Aneesa (w/ Rihanna)</td>
  </tr>
</table>
</tbody>
<p>10:40</p>