<table style="width:80%">
  <tr>
    <th>Adam</th>
    <th>Greg</th>
    <th>Jon</th>
    <th>XP</th>
  </tr>

  <tr>
    <td>Bananas (w/ Vince)</td>
    <td>Cara-Maria (w/Jamie)</td>
    <td>Cory (w/ Mitch)</td>
    <td>KellyAnne (w/ Anthony)</td>
  </tr>

  <tr>
    <td>Tony (w/ Shane)</td>
    <td>Thomas (w/Stephen)</td>
    <td>Cohutta (w/ Jill)</td>
    <td>Dario (w/ Raphy)</td>
  </tr>

  <tr>
    <td>Nany (w/ Nicole)</td>
    <td>Jenna (w/Stephen)</td>
    <td>Leroy (w/ Candis)</td>
    <td>Aneesa (w/ Rihanna)</td>
  </tr>
</table>