<!DOCTYPE html>
<html>
<head>
  <title>HlDraft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<header>
  <h1>Hayes Landing Drafts</h1>
</header>
<body>

<%= yield %>

</body>
</html>
